<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>708176750285-ce9tc1qlpbosq6l9trd5dqgnome4g06o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.708176750285-ce9tc1qlpbosq6l9trd5dqgnome4g06o</string>
	<key>API_KEY</key>
	<string>AIzaSyBH9Ulfv5ARhNObTSSDuUntFngg5wnMA1I</string>
	<key>GCM_SENDER_ID</key>
	<string>708176750285</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.solutionChallenge</string>
	<key>PROJECT_ID</key>
	<string>flutter-globalchallenge</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-globalchallenge.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:708176750285:ios:d3a0877a2db8ccab75ab84</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-globalchallenge.firebaseio.com</string>
</dict>
</plist>